</head>
<body bgcolor="orange">
<h1 style="text-align:center;">Sign-Up Page</h1>
<form action="/register" method="post">
   Name :<br>
  <input  name='name' ><br>
  
  Date Of Birth: <br>
  <input  name='dob' ><br>
  
  Phone number: <br>
  <input  name='phnum' ><br>

  Email:<br>
  <input type="email" name='email'><br>

  Password:<br>
  <input  type="password" name='pass' ><br><br>

  Confirm Password:<br>
  <input  type="password" name='cnfrmpas' ><br><br>
<input type="submit" value="SignUp">
</form>


</body>
</html>